<!-- VOLUNTEER FEATURE -->
<% if (user) { %>
  <div style="margin-top:25px;">
    
    <% if (volunteerStatus) { %>

      <form action="/volunteer/remove/<%= project.project_id %>" method="POST">
        <button type="submit" class="btn">
          Remove Volunteer
        </button>
      </form>

    <% } else { %>

      <form action="/volunteer/add/<%= project.project_id %>" method="POST">
        <button type="submit" class="btn">
          Volunteer for this Project
        </button>
      </form>

    <% } %>

  </div>

<% } else { %>

  <div style="margin-top:25px;">
    <a href="/login" class="btn">
      Login to Volunteer
    </a>
  </div>

<% } %>